{% extends "base.html" %}<!--继承基础模板-->
{% import "_macros.html" as macros %}
{% block container %}

    <div class="text-center">
        <h4> 内容管理后台 </h4>
    </div>

    <div class="text-right">
        <a href="{{url_for('auth.logout')}}">
            <button class="btn btn-primary"> 退出登录 </button>
        </a>
    </div>

    <div class="text-left">
        <a href="{{ url_for('blog.edit', article_id='new') }}">
            <button class="btn btn-info"> 新增文章 </button>
        </a>
    </div>
    <br>
    <table class="table table-striped table-responsive table-bordered table-hover">

        <thead>
        <tr>
            <th>序号</th>
            <th>标题</th>
            <th>创建时间</th>
            <th>分类</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        {% for data in page_data %}
            <tr>
                <td>{{ data.id }}</td>
                <td>
                    <a href="{{ url_for('blog.article', article_id=data.id) }}"> {{ data.title }} </a>
                </td>
                <td>{{ data.create_time }}</td>
                <td>{{ data.category }}</td>
                <td>
                    <a class='fa fa-lg fa-edit text-light-blue' href="{{ url_for('blog.edit', article_id=data.id) }}"> 编辑 </a>
                    <a class='fa fa-lg fa-warning text-red' data-toggle="modal" data-href="{{url_for('blog.delete_article', article_id=data.id)}}"
                       data-target="#confirm-delete"> 删除</a>
                </td>
            </tr>

            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            请确认
                        </div>
                        <div class="modal-body">
                            确认删除 {{ data.title }} 吗？
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a class="btn btn-danger btn-ok">确认</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>

    </table>

    {% if pagination %}
        <div class="pagination center-block text-center">
            {{ macros.pagination_widget(pagination, '.contents') }}
        </div>
    {% endif %}

    {% block js %}
        {{ super() }}
        <script>
            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
        </script>
    {% endblock %}

{% endblock %}