{% extends "base.html" %}

{% block title %} 关于加油马德里 {% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">

        <h2>关于我</h2>
        <p>我是加油马德里，一个 Python 开发者。</p>
        <p>对我来说 Python 是世界上最好的语言，希望以后能够成为一个出色的 Python 开发者</p>
        <br>
        <h2>关于这里</h2>
        <p>这个 Blog 从 HTML 到后端都是自己完成，前端页面主要是仿照 Bootstrap 官方示例完成，后端则使用了 Flask 框架。</p>
        <p>整体技术栈：Bootstrap + Flask + gunicorn + supervisor + Nginx + PostgreSQL。</p>
        <p>这个博客是一个练手项目，开发的过程中涵盖了爬虫、数据处理、后端等技能。</p>
        <p>此外，通过这个项目还学习了 Web 开发的知识，对前端方面的知识有了更加深入的了解。</p>
        <p>在这个项目中有一个 Python 内容聚合应用，追踪了一些知名的、活跃的 Python 开发者的最新内容产出，希望大家喜欢❤️。</p>

    </div>

{% endblock %}