{% extends "base.html" %}

{% block title %} 关于加油马德里 {% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">

        <h2>关于我</h2>
        <p>我是加油马德里，一个Python开发者。</p>
        <p>我的Python是自学的，希望以后能够成为一个出色的Python开发者</p>
        <h2>关于这里</h2>
        <p>这个Blog从HTML页面到后端都是自己完成，前端页面主要是仿照Bootstrap官方示例完成，后端则使用了Flask框架。</p>
        <p>整体技术栈：Bootstrap + Flask + gunicorn + supervisor + Nginx + PostgreSQL。</p>
        <p>通过这个项目，将自己所掌握的技能都串了起来，并且额外学习了Web开发的知识。</p>
        <p>在这个项目中有一个Python内容聚合应用，追踪了一些知名的、活跃的Python开发者的最新内容产出，希望大家喜欢❤️。</p>

    </div>

{% endblock %}