{% extends "base.html" %}

{% block title %} 关于加油马德里 {% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-9">

        <h2> 关于我 </h2>
        <p> 我是加油马德里，一个 Python 开发者。</p>
        <p> 对我来说 Python 是世界上最好的语言，希望以后能够成为一个出色的 Python 开发者</p>
        <br>
        <h2> 关于这里 </h2>
        <p> 这个 Blog 从 HTML 到后端都是自己完成，前端页面主要是仿照 Bootstrap 官方示例完成，后端则使用了 Flask 框架。</p>
        <p> 整体技术栈：Bootstrap + Flask + Gunicorn + Docker + PostgreSQL + Nginx。</p>
        <p> 通过 Jenkins 完成 CI/CD （持续集成、持续交付和持续部署）</p>
        <p> 这个博客是一个练手项目，开发的过程中涵盖了爬虫、数据处理、后端等技能。</p>
        <p> 在这个项目中有一个 Python 内容聚合应用，追踪了一些知名的、活跃的 Python 开发者的最新内容产出，希望大家喜欢❤️。</p>

    </div>

{% endblock %}