{% extends "base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
    <div class="col-xs-9" >
        <div class="jumbotron">
            <h2>优美胜于丑陋, 明了胜于隐晦</h2>
            <h3>Zen of Python</h3>
            <p>Beautiful is better than ugly. Explicit is better than implicit.	Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense.	</p>
        </div>
        <div class="jumbotron">
            <h2>优美胜于丑陋, 明了胜于隐晦</h2>
            <h3>Zen of Python</h3>
            <p>Beautiful is better than ugly. Explicit is better than implicit.	Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense.	</p>
        </div>
    </div><!--/row-->
{% endblock %}