{% extends "base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
    <div class="col-xs-9">
        {% for data in page_data %}
            <div class="alert" style="background-color: #f6f6f6">
                <h2 style="color: #1b6d85"> {{ data.title }} </h2>
                <p>
                    作者：{{ data.author }} &nbsp
                    | 分类：&nbsp{{ data.category}} &nbsp
                    | &nbsp 发布时间：&nbsp{{ data.create_time}}
                </p>
                <br>
                <p>{{ data.text }}
                     <a href="#" style="right: initial">查看全文</a>
                </p>
            </div>
        {% endfor %}

    </div>
{% endblock %}