{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="col-xs-9">
        {% for data in page_data %}
            <div class="alert" style="background-color: #f6f6f6">

                <h2>
                    <a style="color: #1b6d85" href="{{'archives/' ~ data.id|string}}"> {{ data.title }} </a>
                </h2>

                <p>
                    来源：{{ data.author }} &nbsp
                    | &nbsp 发布时间：&nbsp{{ data.create_time }} &nbsp
                    | &nbsp 标签：&nbsp{{ data.category }}
                </p>

                <br>
                {{ data.text|markdown|truncate(200) }}
                <br>
                <br>
                <a href='{{'archives/' ~ data.id|string}}' style="right: initial">查看原文</a>
            </div>
        {% endfor %}

        {% if pagination %}
            <div class="pagination center-block text-center">
                {{ macros.pagination_widget(pagination, '.archives') }}
            </div>
        {% endif %}

    </div>
{% endblock %}