{% extends "bootstrap/base.html" %}

<head>
    <meta charset="utf-8" />
    <meta name="robots" content="all">
    <meta name="author" content="qixiangyang,qixiangyangrm@foxmail.com">
    <meta name="keywords" content="python,flask,爬虫,足球, 皇家马德里">
    <meta name="description" content="qixiangyang的博客" />
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <title>Qi</title>
</head>

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Qi</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/">Archives</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/">Financial_News</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/">Dev_News</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
