{% extends "base.html" %}

{% block title %}Qi{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4"><h3 class="section-title animate" data-animate="fadeInDown">Latest Blog</h3></div>
            <div class="col-12">
                <article class="text-white single-latestblog align-items-center rounded mb-3">
                    <div class="blog-thumb" style="background-image: url(assets/images/all-img/blg-1.jpg)"></div>
                    <div class="single-latestblog-content"><a href="#"><h5 class="mt-0 text-uppercase">Their Plans As
                        Well As Applications</h5></a>
                        <ul>
                            <li><small>By <a href="#">John Velly</a></small></li>
                            <li><a href="#"><small>20th Jan 2018</small></a></li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour or randomised.</p><a href="#"
                                                                                                      class="btn-lnk text-capitalize"><small>read
                            more ...</small></a></div>
                </article>
                <article class=" text-white single-latestblog align-items-center rounded">
                    <div class="blog-thumb" style="background-image: url(assets/images/all-img/blg-2.jpg)"></div>
                    <div class="single-latestblog-content"><a href="#"><h5 class="mt-0 text-uppercase">sit amet very
                        important message</h5></a>
                        <ul>
                            <li><small>By <a href="#">John Velly</a></small></li>
                            <li><a href="#"><small>20th Jan 2018</small></a></li>
                        </ul>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour or randomised.</p><a href="#"
                                                                                                      class="btn-lnk text-capitalize"><small>read
                            more ...</small></a></div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}





