{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}

    <div class="col-xs-9">

        {% for data in page_data %}
            <div class="alert" style="background-color: #f6f6f6">
                <h2>
                    <a style="color: #1b6d85" href="{{data.url}}"> {{ data.title }} </a>
                </h2>
                <p>
                    来源：{{ data.blog_name }} &nbsp
                    | &nbsp 更新时间：&nbsp{{ data.pub_time|handle_time }} &nbsp
                    | &nbsp 分类：&nbsp{{ data.category }}
                </p>
                <br>
                <p> {{ data.preview|safe }}
                    <a href="{{data.url}}" style="right: initial">查看原文</a>
                </p>
            </div>
        {% endfor %}

        {% if pagination %}
        <div class="pagination center-block text-center">
            {{ macros.pagination_widget(pagination, '.pyhub') }}
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
    <b> 本页内容使用均遵循相关开源协议，部分内容获得作者本人授权 </b>
{% endblock %}


