{% extends "base.html" %}<!--继承基础模板-->
{% block content %}<!--自定义模板区域-->
    <div class="col-xs-9">
        <div class="alert" style="background-color: #f6f6f6">
            <p class="h2">优美胜于丑陋, 明了胜于隐晦</p>
            <p>Zen of Python
                <small class="text-muted"> 2019-09-12</small>
            </p>
            <br>
            <p>Beautiful is better than ugly. Explicit is better than implicit.	Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense.	</p>
            <br>
            <p class="h6">来源：XXXX
                <a href="#"> 查看原文</a>
            </p>
        </div>
        <div class="alert" style="background-color: #f6f6f6">
            <p class="h2">优美胜于丑陋, 明了胜于隐晦</p>
            <p>Zen of Python
                <small class="text-muted"> 2019-09-12</small>
            </p>
            <br>
            <p>Beautiful is better than ugly. Explicit is better than implicit.	Simple is better than complex. Complex is better than complicated. Flat is better than nested. Sparse is better than dense.	</p>
            <br>
            <p class="h6">来源：XXXX
                <a href="#"> 查看原文</a>
            </p>
        </div>
    </div><!--/row-->
{% endblock %}