<div class="col-xs-5 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a class="list-group-item active">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"> 社交账号</span>
        </a>
        <a href="#" class="list-group-item">Github</a>
        <a href="#" class="list-group-item">知乎</a>
        <a href="#" class="list-group-item">微博</a>
        <a class="list-group-item active">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"> 友链</span>
        </a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
    </div>
</div><!--/.sidebar-offcanvas-->